#add-post {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
    transform: scale(1);
    transition: 1s ease;
}

#testButton {
    background-color: inherit;
    border: none;
}

#add-gif {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 45px;
    font-family: 'Finger Paint', cursive;
    background-color: #C9E265;
    color: #fff;
    border: 6px solid #E83434;
    border-radius: 0 0 0 20px;
    margin: auto;
    margin-top: 15px;
    text-shadow: 2px 4px #0E2B95;
    text-align: center;
    transition: 1s ease-in-out;
}

.btn-group {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #38B6FF;
    border: 6px solid #C9E265;
    border-radius: 0 0 40px 40px;
    width: fit-content;
    height: 80px;
    margin-left: 0;
}

.text-area-btns {
    position: absolute;
    justify-content: space-between;
    background-color: inherit;
    border: none;
    height: fit-content;
    bottom: -15px;
}

.reply-btn {
    position: relative;
    background-color: #38B6FF;
    border: 6px solid #C9E265;
    margin-top: -6px;
    height: 80px;
    border-radius: 0 0 40px 0;
    font-family: 'Finger Paint', cursive;
    color: #fff;
    width: fit-content;
    transition: 1s ease-in-out;
}




.hide{
    display:none;
}
.show{
    display:block;
}

.searchGif {
    visibility: visible;
    position: absolute;
    z-index: 5;
    width: 150px;
    height: 45px;
    background-color: #fff;
    border: 6px solid #E83434;
    text-align: left;
    font-family: 'Finger Paint', cursive;
    color: #0E2B95;
}

#gifSearch {
    position: absolute;
    background-color: inherit;
    border: none;
    align-self: flex-start;
}

/* ---- RESPONSIVE MEDIA ---- */

@media only screen and (max-width: 1313px) {
    .text-area-btns {
        position: relative;
        bottom: 0;
    }
}

@media only screen and (max-width: 1080px) {
    /* #textInput {
        margin-top: 20px;
    } */
    .text-area-btns {
        position: absolute;
        margin-top: 20px;
    }
    .add-post-container {
        visibility: visible;
        border: none;
    }
    #add-post {
        transform: scale(0.8)
    }
}

@media only screen and (max-width: 991px) {

    /* ---- burger menu styling ---- */

    .offcanvas-body {
        background: #FEEF68;
    }

    .offcanvas-header {
        background-color: #E83434;
    }

    /* #textInput {
        margin-top: 20px;
    } */

    .col1, .col2 {
        flex-direction: column;
        min-width: 400px;
        margin-left: auto;
        transition: 1s ease-in-out;
    }
    .main {
        flex-direction: column;
        margin: auto;
        transition: 1s ease-in-out;
    }
    #add-post {
        transform: scale(0.8)
    }
}

@media only screen and (max-width: 970px) {

    #textInput {
        margin-top: 20px;
    }
    #add-post {
        transform: scale(0.8)
    }
    .text-area-btns {
        position: relative;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 770px) {

    .col1 .col2 {
        width: 100%;
        margin: auto;
    }
    #add-post {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        transition: 1s ease-in-out;
    }
    #textInput {
        margin-top: 20px;
    }
}


