.navbar {
    background-color: #E83434;
    height: 130px;
    width: 100%;
    transition: 2s slide ease-in-out;
}

.logo-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 10px;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-color: #FEEF68;   
}

#video {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin: auto;
    visibility: visible;
    transition: 1s ease-in-out;
}

.nav-item {
    cursor: pointer;
    padding: 5px 0;
    visibility: visible;
    transition: 2s ease-in-out;
}

#link-purpose {
    margin: 10px 30px 0 0;
    visibility: visible;
    transition: 2s ease-in-out;
    
}

#link-stories {
    margin: 50px 30px 0 0;
    transition: 2s ease-in-out;
    visibility: visible;
}

#link-terms {
    margin: 20px 30px 0 0;
    transition: 2s ease-in-out;
    visibility: visible;
}

.nav-text {
    font-family: 'Finger Paint', cursive;
    font-size: 2rem;
    color: #FEEF68;
    text-shadow: 2px 4px #0E2B95;
    visibility: visible;
}

.toggler-icon {
    position: absolute;
    top: 35px;
    right: 10px;
    height: 80px;
    width: 80px;
    visibility: hidden;
    transition: 2s ease-in-out;
    border: none;
}

/* ---- Nav bar styling and fixes ---- */

.navbar {
    min-width: 100vw;
    margin: 0;
}

.navbar-toggler {
    border: none;
}

span.navbar-toggler:active {
    border: none;
}

.offcanvas-title {
    color: #fff;
    font-family: 'finger paint';
}

/* RESPONSIVE MEDIA */

@media only screen and (max-width: 1313px) {
    .nav-text {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1100px) {
    .toggler-icon {
        visibility: hidden;
        transition: 1s ease-in-out;
        border: none;
    }

    .navbar {
        transition: 1s ease-in-out;
    }

    .logo-container {
        margin: auto;
        display: flex;
        flex-direction: row;
        transition: 1s ease-in-out;
    }

    .nav-text {
        visibility: hidden;
    }
    
    .navbar-nav {
        transition: 1s ease-in-out;
    }
}

@media only screen and (max-width: 991px) {
    .toggler-icon {
        visibility: visible;
        transition: 1s ease-in-out;
    }
    .toggler-icon-border::after {
        visibility: hidden;
        transition: 1s ease-in-out;
    }
    .nav-text {
        visibility: hidden;
    }
}

@media only screen and (max-width: 970px) {
    .nav-text {
        visibility: hidden;
    }
}

@media only screen and (max-width: 770px) {
    .nav-text {
        visibility: hidden;
    }
}
