@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* font-family: “Finger Paint”, cursive;
color: E83434; bright red
color: FEEF68; bright yellow
color: 38B6FF; bright blue
color: C9E265; bright green */


/* main layout structure */

html {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: #C9E265;
    margin: auto;
    padding: 10px;
    transition: 2s ease-in-out;
    min-width: 400px;
}

.container-left {
    display: flex;
    flex-direction: column;
    background-color: #38B6FF;
    padding: 30px;
    height: 100vh;
    border: 8px solid #E83434;
    transition: 2s ease-in-out;
    min-width: 400px;
}


.container-right {
    display: flex;
    flex-direction: column;
    background-color: #FEEF68;
    padding: 30px;
    height: 100vh;
    border: 8px solid #38B6FF;
    transition: 1s ease-in-out;
    min-width: 400px;
}

.font, .font-col2 .userTextStyle{
    font-family: 'Finger Paint', cursive;
    color: #fff;
    text-shadow: 2px 4px #0E2B95;
    text-align: center;
    transition: 1s ease-in-out;
}

.font-col2 {
    color: #38B6FF;
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    min-width: 400px;
}

.col1 {
    width: 40%;
}
.col2 {
    overflow: auto;
    margin-left: 20px;
    width: 60%;
    transition: 1s ease-in-out;
}

/*  ---- input areas ---- */

#post-input-container {
    position: relative;
    display: block;
    padding: 0;
}

#textInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("./assets/pencil_bg.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    min-height: 300px;
    border: 6px solid #E83434;
    border-radius: 20px 20px 0px 0;
    font-family: 'Finger Paint', cursive;
    font-size: 2rem;
    text-align: left;
    box-shadow: 4px 8px #0E2B95;
    color: #0E2B95;
    /* transition: 1s ease-in-out; */
    margin: 20px 0;
    text-align: left;
    padding: 10px;
}



/* .submitted-post {
    

.submitted-post {
    overflow: auto;

    margin-top: 20px;
    height: 200px;
    width: auto;
    border: 8px solid #C9E265;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    transition: 1s ease-in-out;
}


.product-header{
    margin-top: 20px;
    height: 200px;
    width: auto;
    border: 8px solid #C9E265;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    transition: 1s ease-in-out;
    }
    

/* .product-header{} */



/* #gifSearch, .searchGif {
    visibility: visible;
    position: relative;
    z-index: 100;
    background-color: #fff;
    border: 6px solid #E83434;
} */

.submitted-post {
    padding:1em;
    overflow: auto;
    margin-top: 20px;
    height: 550px;
    width: auto;
    border: 8px solid #38B6FF;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    transition: 1s ease-in-out;
}

/* ---- character counter ---- */

#char-count {
    display: inline-block;
    margin: 0;
    text-shadow: 2px 2px #0E2B95;
    font-size: 1.5rem;
}

.word-counter p {
    margin: 0;
}

.word-counter {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 150px;
    height: auto;
    font-family: 'Finger Paint', cursive;
    background-color: #C9E265;
    color: #fff;
    border: 6px solid #E83434;
    border-radius: 0 0 20px 0px;
    padding-left: 5px;
    text-shadow: 2px 2px #0E2B95;
    text-align: left;
    transition: 1s ease-in-out;
}



/* ---- RESPONSIVE MEDIA ---- */

@media only screen and (max-width: 1313px) {
    #textInput {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    #textInput {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 991px) {

    /* ---- burger menu styling ---- */

    .offcanvas-body {
        background: #FEEF68;
    }

    .offcanvas-header {
        background-color: #E83434;
    }

    #textInput {
        margin-top: 20px;
    }

    .col1, .col2 {
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        transition: 1s ease-in-out;
    }
    .main {
        flex-direction: column;
        margin: auto;
        transition: 1s ease-in-out;
    }
}

@media only screen and (max-width: 970px) {

    #textInput {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 770px) {

    .col1 .col2 {
        width: 100%;
        margin: auto;
    }
    #add-post {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        transition: 1s ease-in-out;
    }
    #textInput {
        margin-top: 20px;
    }
}

footer {
    background-color: #E83434;
    text-align: center;
    color: #fff;
    height: 50px;
    padding: 10px 0;
    transition: 1s ease-in-out;
}

/* ---- emojis ---- */

.react {                    /* class selector for the emoji reactions */
    display: inline-flex;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius:50%;
    text-align:left;
    transform:rotate(0);
    transition: 2s ease-in-out;
  }
  
  .react i:before {
    content: attr(data-icon);
    grid-area: 1/1;
    font-style: normal;
    font-size: calc(1.6*var(--r));
  }
  
  .react i {
    filter:grayscale(100%);
    transform:scale(2);
    margin: auto;
    display: inline-flex;
    transition: transform .6s cubic-bezier(0.5,-12,1,-12);
  }
  .react:hover{
    transform:rotate(0.1deg);
    transition:transform 0.25s cubic-bezier(0.5,400,0.5,-400);
  }
  .react:before {
    content:"";
    grid-area:1/1;
    border-radius:50%;
    border:solid orange calc(var(--r)/2);
    transform:scale(0);
  }
  .react:after,
  .react i:after{
    content:"";
    grid-area:1/1;
    margin: calc(var(--r)/-2);
    --c1:radial-gradient(red    50%,#0000 60%);
    --c2:radial-gradient(orange 50%,#0000 60%);
    background:
      var(--c1),var(--c1),var(--c1),var(--c1),
      var(--c2),var(--c2),var(--c2),var(--c2); 
    background-size:calc(var(--r)/6) calc(var(--r)/6); 
    background-position:
      calc(50% - var(--r)/2) calc(50% - var(--r)/2),
      calc(50% + var(--r)/2) calc(50% - var(--r)/2),
      calc(50% - var(--r)/2) calc(50% + var(--r)/2),
      calc(50% + var(--r)/2) calc(50% + var(--r)/2),
      calc(50% +  0px) calc(50% + var(--r)*0.707),
      calc(50% + var(--r)*0.707) calc(50% +  0px),
      calc(50% - var(--r)*0.707) calc(50% +  0px),
      calc(50% +  0px) calc(50% - var(--r)*0.707);
    background-repeat:no-repeat;
    transform:scale(2);
  }
  .react i:after {
    background-size:calc(var(--r)/8) calc(var(--r)/8);
    transform:rotate(60deg) scale(2);
  }
  
  input:checked + .react i{
    filter:grayscale(0);
    transform:scale(2.5);
    transition:
       filter .5s .5s,
       transform 1s cubic-bezier(0,26.67,.5,26.67);
  }
  input:checked + .react:before {
    border-width:0;
    transform:scale(2);
    transition:
      transform 0.5s,
      border-width 0.5s 0.5s;
  }
  input:checked + .react:after,
  input:checked + .react i:after{
    transform:scale(2);
    opacity:0;
    background-size:0 0;
    transition:
      transform 0.5s 0.5s,
      opacity   0.4s 0.9s,
      background-size 0.5s 0.9s;
  }
  input:checked + .react i:after {
    transform:rotate(55deg) scale(2);
  }
  
  
  input {
    position:absolute;
    visibility:hidden;
    /* clip-path:inset(50%) */
  }
